.localization {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;

    background: #EAEAEA;

    &__position {
        margin: 0;

        font-size: rem(16px);
        font-weight: 500;

        opacity: .7;

        & > i {
            margin-right: 18px;
        }
    }
}


.explore-restaurants {
    min-height: 287px;
    padding: rem(40px) 0 rem(55px) 0;
    background: $color-gray;
    text-align: center;

    & > h1 {
        margin: 0 45px;
        font-size: rem(24px);
        font-weight: 700;
    }

    & > p {
        margin-top: 15px;
        margin-bottom: 35px;
        font-size: rem(18px);
        opacity: .7;
    }
}


.process {
    padding: 50px 0;
    background: $color-white;

    & > h2 {
        margin: 0 0 32px 18px;
    }

    &__steps {
        margin: 0 20px 10px 30px;
        list-style: none;

        & > li {
            margin-bottom: 20px;
        }
    }
}


.restaurants {
    padding: 60px 0 65px 0;
    background: $color-gray;

    & > h2 {
        margin: 0 0 32px 18px;
    }
}